body {
    background-color:  black;
     background-image: url("BNS.jpg"); /* credits to http://99pcwallpapers.com */
     background-position-x: -185%;
}
    .navbar{
         list-style-type: none;
        margin: 0;
        padding: 0;
        width: 170px;
        position: fixed;
        top: 200px;  
       
        
    }
    
    .navlink{
        display: block;
        padding: 15px 15px;
        text-decoration: none;
        text-align: center; 
        line-height: 2.0em;
        font-size: 125%;
        font-family: "Lucida Sans Unicode";
        
    }
    .navlink:hover{
        background-color: deepskyblue;
        color: white;
    }
    #active{
        background-color: ghostwhite;
        
    }
    #active:hover{
        color: black;
    }
    .DP{
        position: fixed;
        left: 0%;
        top: 1%;
        width: 190px;
        height: 190px;
        border-radius: 50%;
    }
    .logo{
        position: fixed;
        left: 0%;
        bottom: 4%;
        width: 200px;
        height:200px;
        
    }
    hr{
        position: absolute;
        top: 20%;
        width: 50%;
        right: 34%;
    }
    h1{
        color: deepskyblue;
        
        position: absolute;
        top: 7.2%;
        left: 16%;
        font-family:"Lucida Sans Unicode";
        font-size: 300%;

    }
    h6{
        color: ghostwhite;
        position: absolute;
        top: 15%;
        left: 17%;
        font-family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
        font-size: 150%;
    }
    div{
        position: absolute;
        top: 40%;
        left: 15%;
        width: 50%;
        color: antiquewhite;
    }
    #hello{
        font-family: "Comic Sans MS";
        font-size: 25px;
    }
    .homepara{
        font-family: "Comic Sans MS";
    
    }
    .scroll{
        position: absolute;
        top: 90%;
        left: 37%;
        width: 50%;
        color: antiquewhite;
        font-family: "Comic Sans MS";
        font-size: 20px;
    }
    #htmlcss{
        position: absolute;
        top: 110%;
        left: 20%;
        width: 25%;
        height: 50%;
        border-width: 0px;
    }
    #dota{
        position: absolute;
        top: 110%;
        left: 50%;
        width: 25%;
        height: 53%;
        border-width: 0px
    }
    .servicesform{
        position: absolute;
        left: 25%;
        color: ghostwhite;
        width: 70%;
        top: 35%;
        height: 30%;
    }
    .servicetable{
        height: 170%;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .fb{
        height: 25px;
        
        position: absolute;
        top: 23%;
        left: 16%;
    }
    .li{
        height: 26px;
        position: absolute;
        top: 23%;
        left: 19%;
    }
    .tw{
        height: 26px;
        position: absolute;
        top: 23%;
        left: 22%;
    }
    .ig{
        height: 26px;
        position: absolute;
        top: 23%;
        left: 25%;
    }
    .bb{
        height: 26px;
        position: absolute;
        top: 23%;
        left: 28%;

    }
    .gh{
        height: 26px;
        position: absolute;
        top: 23%;
        left: 30%;

    }
    .cform{
        position: absolute;
        left: 25%;
        color: ghostwhite;
        top: 300px;
        font-family: Arial, Helvetica, sans-serif


    }
    .dabba{
        width: 370px;
    }
    .send{
        position: absolute;
        top: 178px;
        right: -50px;
    
    }
    h5{
         position: absolute;
    left: 350px;
    color: ghostwhite;
    top: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    }
footer{
    position: absolute;
    left: 450px;
    color: ghostwhite;
    top: 170%;
}
#sfoot{
    position: absolute;
    left: 450px;
    color: ghostwhite;
    top: 130%;
}
#cfoot{
     position: absolute;
    left: 450px;
    color: ghostwhite;
    top: 110%;
}